<div id="title" class="title">
  Ism Amazigh > Inicio
</div>
<div id="contenido">
  <div class="titleContent">
    Selecciona un nombre para mostrar su significado:
  </div>
  <%= render "newname" %>
</div>

