<div id="title" class="title">
  Ism Amazigh > Aplicación móvil
</div>
<div id="contenido">
  <div class="titleContent">
    Descargar la version móvil:
  </div>
  <div id="logoMobileApp">
    <%= image_tag "logomobileapp.png", :alt => "Ism Amazigh Mobile app", :style => "width: 230px; height: 200px" %>
    <span>Versión<b>1.2</b></span><br>
    <span><b>13/01/2013</b></span>
  </div>
  <div id="qrMobileApp">
    <%= image_tag "qrcod.png", :alt => "Código Qr para descargar la aplicación", :style => "width: 230px; height: 230px"%>
    <%= link_to "Abrir Google Play", "https://play.google.com/store/apps/details?id=com.mstafkumax.ismamazigh&feature=nav_result#?t=W251bGwsMSwyLDNd", :target => '_blank' %>
  </div>
  <div id="textMobileApp">
    <p>Para descargar la última versión de la aplicación de Ism Amazigh para móviles Android, escanear el código QR con el móvil o buscar "Ism Amazigh" en Google Play.</p>
    <p>La versión móvil de Ism Amazigh de momento sólo está disponible para móviles Android.</p>
    <p>Próximamente estará disponible la versión para dispositivos iOS (IPhone y IPad).</p>
  </div>
</div>
